// override vars for theming here
$background: #2b3e50;
$text-color: #EBEBEB;
//$primary-color: #F5F5F5;
$primary-color: #DF691A;
//$secondary-color: #DF691A;
$secondary-color: #F5F5F5;
$primary-button-text-color: #333;
$form-text-color: #333;
$light-background: red;
$muted-color: #AAA;
$code-highlight-background: #495665;
#mountains {
    z-index: -10000;
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    height: 500px;
}
.ap-object {
    word-wrap: break-word;
    pre {
        white-space: pre-wrap;
    }
}
